@use 'sass:color';
@use 'sass:math';
// nav component
$nav-font-size: 1.1rem;
$nav-height: 4rem;
$nav-background-color: linear-gradient(to right, #1e130c, #9a8478);
$nav-gap-logo-and-left: 3rem;
$nav-gap-between-items: 2rem;
$nav-leftmost-space: 1.5rem;
$nav-rightmost-space: 1.5rem;
$nav-primary-text-color: 1.5rem;
$nav-primary-text-color: white;
$nav-logo-font-family: 'Nerko One', cursive;
$nav-logo-font-size: 1.25rem;
$nav-link-hover-underline-height: 0.25rem;
$nav-link-hover-underline-color: #e26d5a;
$nav-link-underline-duration: 0.2s;
$nav-link-underline-timing-fn: ease;
$nav-link-min-width: 4rem;
$nav-item-font-family: 'Open Sans', sans-serif;

// site-footer
$site-footer-height: 4rem;
$site-footer-background-color: black;
$site-footer-text-color: white;
$site-footer-padding-left: 1.5rem;

// root
$site-primary-font-family: 'Roboto', sans-serif;

// Button component
$btn-padding-y: 0.6em;
$btn-padding-x: 0.8em;
$btn-font-size: 1rem;
$btn-background-color: hsl(240, 50%, 50%);
$btn-text-color: #fff;
$btn-border-radius: 0.625rem;

$btn-show-color: hsl(200, 50%, 50%);
$btn-show-hover-color: color.adjust($btn-show-color, $lightness: 5%);

$btn-edit-color: hsl(168, 81%, 31%);
$btn-edit-hover-color: color.adjust($btn-edit-color, $lightness: 5%);

$btn-delete-color: hsl(0, 50%, 50%);
$btn-delete-hover-color: color.adjust($btn-delete-color, $lightness: 5%);

$btn-create-color: hsl(300, 50%, 50%);
$btn-create-hover-color: color.adjust($btn-create-color, $lightness: 5%);

$btn-submit-color: hsl(262, 50%, 50%);
$btn-submit-hover-color: color.adjust($btn-submit-color, $lightness: 5%);

// btn-flex component
$btn-row-margin-top: 0.75rem;

// card-grid layout component
$card-grid-container-row-gap: 1rem;

//card component
$card-width: 18.75rem;
$card-background-color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
$card-border-radius: 1rem;
$card-padding-y: 0.625rem;
$card-padding-x: 0.625rem;
$card-img-aspect-ratio: math.div(4, 3);
$card-img-border-radius: 1rem;

$card-body-padding: 0.5rem;
$card-body-flex-gap: 0.625rem;
$card-title-font-size: 1.5rem;

$card-author-text-color: hsl(0, 0%, 50%);

// Body layout
$site-main-padding-top: 1rem;
$site-main-padding-bottom: 1rem;
$site-main-width: 90vw;

// store-detail
$store-detail-width: 100%;
$store-detail-background-color: linear-gradient(to right, #ffefba, #ffffff);
$store-detail-padding-y: 1rem;
$store-detail-padding-x: 1rem;
$store-detail-border-radius: 0.6rem;
$store-detail-img-container-border-radius: 0.6rem;

// form-create
$form-create-width: 40vw;
$form-create-background-color: linear-gradient(to left, #ec6f66, #f3a183);
$form-create-border-radius: 1rem;
$form-create-padding: 1rem;

$form-create-body-margin-bottom: 1rem;

$form-create-body-gap: 1rem;

$form-create-checkbox-wrapper-padding-left: 1rem;
$form-create-checkbox-wrapper-gap: 0.5rem;

$form-create-label-font-size: 1.2rem;
$form-create-legend-font-size: $form-create-label-font-size;

$form-create-input-padding: 0.5rem;
$form-create-input-border: 0.5px solid black;
$form-create-input-border-radius: 0.5rem;
$form-create-input-font-size: 1.1rem;

$form-create-text-area-height: 12.5rem;
$form-create-text-area-padding: $form-create-input-padding;
$form-create-text-area-border: $form-create-input-border;
$form-create-text-area-border-radius: $form-create-input-border-radius;
$form-create-text-area-font-size: $form-create-input-font-size;

// error-card
$error-card-width: 40rem;
$error-card-background-color: #003973;
$error-card-text-color: white;

$error-card-header-margin-top: 5rem;
$error-card-title-font-size: 5rem;

$error-card-body-margin-top: 5rem;
$error-card-status-font-size: 4rem;
$error-card-message-font-size: 1.3rem;
