$nav-font-size: 1.25rem;
$nav-height: 4rem;
$nav-background-color: linear-gradient(to right, #1e130c, #9a8478);
$nav-gap-logo-and-left: 3rem;
$nav-gap-between-items: 2rem;
$nav-leftmost-space: 1.5rem;
$nav-rightmost-space: 1.5rem;
$nav-primary-text-color: 1.5rem;
$nav-primary-text-color: white;
