<nav class="nav">
  <ul class="nav__ul">
    <a class="nav__link" href="#">
      <li class="nav__item">Home</li>
    </a>
    <a class="nav__link" href="#">
      <li class="nav__item">Bookstores</li>
    </a>
    <a class="nav__link" href="#">
      <li class="nav__item">About</li>
    </a>
  </ul>
</nav>
