<nav class="nav">
  <div class="nav__left">
    <div class="nav__logo">Bookstore Discovery</div>
    <ul class="nav__ul">
      <a class="nav__link" href="#">
        <li class="nav__item">Home</li>
      </a>
      <a class="nav__link" href="#">
        <li class="nav__item">Bookstores</li>
      </a>
      <a class="nav__link" href="#">
        <li class="nav__item">About</li>
      </a>
    </ul>
  </div>

  <div class="nav__right">
    <ul class="nav__ul">
      <a href="#" class="nav__link"> <li class="nav__item">Login</li> </a>
      <a href="#" class="nav__link">
        <li class="nav__item">Register</li>
      </a>
    </ul>
  </div>
</nav>
