<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookstore Discovery</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header><%- include("../partials/nav.ejs") %></header>
    <%- body %>
  </body>
</html>
