<% layout("./layouts/boilerplate.ejs") %>
<div class="error-card-wrapper">
  <div class="error-card">
    <header class="error-card__header">
      <h1 class="error-card__title">Error</h1>
    </header>

    <div class="error-card__body">
      <h2 class="error-card__status"><%= status %></h2>
      <p class="error-card__message"><%= message %></p>
    </div>
  </div>
</div>
