@use '../abstracts/_variables.scss';

.btn {
  text-decoration: none;
  padding: variables.$btn-padding-y variables.$btn-padding-x;
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: variables.$btn-font-size;
  background: variables.$btn-background-color;
  color: variables.$btn-text-color;
  border-radius: variables.$btn-border-radius;
}

.btn.btn-show {
  background: variables.$btn-show-color;
}

.btn.btn-show:hover {
  background: variables.$btn-show-hover-color;
}

.btn.btn-edit {
  background: variables.$btn-edit-color;
}

.btn.btn-edit:hover {
  background: variables.$btn-edit-hover-color;
}

.btn.btn-delete {
  background: variables.$btn-delete-color;
}

.btn.btn-delete:hover {
  background: variables.$btn-delete-hover-color;
}

.btn.btn-create {
  background: variables.$btn-create-color;
}

.btn.btn-create:hover {
  background: variables.$btn-create-hover-color;
}
