@use '../abstracts/_mixins.scss';
@use '../abstracts/_variables.scss';

nav {
  width: 100vw;
  height: variables.$nav-height;
  background: variables.$nav-background-color;
  @include mixins.displayFlex(row) {
    justify-content: space-between;
    align-items: center;
  }
  font-size: variables.$nav-font-size;

  .#{&}__left {
    @include mixins.displayFlex(row) {
      gap: variables.$nav-gap-logo-and-left;
    }
    margin-left: variables.$nav-leftmost-space;
  }

  .#{&}__right {
    margin-right: variables.$nav-rightmost-space;
  }

  .#{&}__logo {
    @include mixins.flexCenter();
    color: variables.$nav-primary-text-color;
  }

  .#{&}__ul {
    @include mixins.displayFlex(row) {
      align-items: center;
      text-align: center;
      gap: variables.$nav-gap-between-items;
    }
  }

  .#{&}__link {
    text-decoration: none;
  }

  .#{&}__item {
    color: variables.$nav-primary-text-color;
    height: variables.$nav-height;
    text-decoration: none;
    list-style-type: none;
    @include mixins.flexCenter();
  }
}
