@use '../abstracts/_mixins.scss';
@use '../abstracts/_variables.scss';

.nav {
  width: 100vw;
  height: variables.$nav-height;
  background: variables.$nav-background-color;
  @include mixins.displayFlex(row) {
    justify-content: space-between;
    align-items: center;
  }

  #{&}__left {
    @include mixins.displayFlex(row) {
      gap: variables.$nav-gap-logo-and-left;
    }
    margin-left: variables.$nav-leftmost-space;
  }

  #{&}__right {
    margin-right: variables.$nav-rightmost-space;
  }

  #{&}__logo {
    @include mixins.flexCenter();
    color: variables.$nav-primary-text-color;
    cursor: pointer;
  }

  #{&}__ul {
    @include mixins.displayFlex(row) {
      align-items: center;
      text-align: center;
      gap: variables.$nav-gap-between-items;
    }
  }

  #{&}__link-logo {
    text-decoration: none;
    @include mixins.flexCenter();
  }

  #{&}__link {
    text-decoration: none;
    position: relative;
    min-width: variables.$nav-link-min-width;
    @include mixins.flexCenter();
  }

  #{&}__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: variables.$nav-link-hover-underline-height;
    left: 0;
    right: 0;
    background: variables.$nav-link-hover-underline-color;
    transition: transform variables.$nav-link-underline-duration
      variables.$nav-link-underline-timing-fn;
    transform: scaleX(0);
  }

  #{&}__link:hover::before {
    transform: scaleX(1);
  }

  #{&}__item {
    color: variables.$nav-primary-text-color;
    height: variables.$nav-height;
    text-decoration: none;
    list-style-type: none;
    @include mixins.flexCenter();
  }
}
