<% layout("./layouts/boilerplate.ejs") %>
<script defer type="module" src="/js/pages/create.js"></script>

<div class="form-create-wrapper">
  <form action="/bookstores" method="POST" class="form-create">
    <header class="form-create__header">
      <h1 class="form-create__title">Create bookstore</h1>
    </header>

    <div class="form-create__body">
      <div class="form-create__input-wrapper">
        <label for="name" class="form-create__label">Name</label>
        <input
          id="name"
          type="text"
          name="bookstore[name]"
          class="form-create__input"
        />
      </div>
      <div class="form-create__input-wrapper">
        <label for="address" class="form-create__label">Address</label>
        <input
          id="address"
          type="text"
          name="bookstore[address]"
          class="form-create__input"
        />
      </div>
      <div class="form-create__input-wrapper">
        <label for="description" class="form-create__label">Description</label>

        <textarea
          name="bookstore[description]"
          id="description"
          class="form-create__text-area"
        ></textarea>
      </div>
      <div class="form-create__input-wrapper">
        <label for="images" class="form-create__label">Images</label>
        <input
          id="images"
          type="text"
          name="bookstore[images]"
          class="form-create__input"
        />
      </div>

      <fieldset class="form-create__fieldset">
        <legend class="form-create__legend">Genres</legend>

        <div class="form-create__checkbox-grid">
          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="fantasy"
              value="fantasy"
            />
            <label for="fantasy" class="form-create__label--inline"
              >fantasy</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="science"
              value="science"
            />
            <label for="science" class="form-create__label--inline"
              >science</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="fiction"
              value="fiction"
            />
            <label for="fiction" class="form-create__label--inline"
              >fiction</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="romance"
              value="romance"
            />
            <label for="romance" class="form-create__label--inline"
              >romance</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="mystery"
              value="mystery"
            />
            <label for="mystery" class="form-create__label--inline"
              >mystery</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="thriller"
              value="thriller"
            />
            <label for="thriller" class="form-create__label--inline"
              >thriller</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="historical"
              value="historical"
            />
            <label for="historical" class="form-create__label--inline"
              >historical</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="horror"
              value="horror"
            />
            <label for="horror" class="form-create__label--inline"
              >horror</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              name="bookstore[genres]"
              class="form-create__input--checkbox"
              id="non-fiction"
              value="non-fiction"
            />
            <label for="non-fiction" class="form-create__label--inline"
              >non-fiction</label
            >
          </div>
        </div>
      </fieldset>

      <fieldset class="form-create__fieldset">
        <legend class="form-create__legend">Open Days</legend>

        <div class="form-create__checkbox-grid">
          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              class="form-create__input--checkbox"
              id="Monday"
              value="Monday"
              name="bookstore[openDays]"
            />
            <label for="Monday" class="form-create__label--inline"
              >Monday</label
            >
          </div>
          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              class="form-create__input--checkbox"
              id="Tuesday"
              value="Tuesday"
              name="bookstore[openDays]"
            />
            <label for="Tuesday" class="form-create__label--inline"
              >Tuesday</label
            >
          </div>
          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              class="form-create__input--checkbox"
              id="Wednesday"
              value="Wednesday"
              name="bookstore[openDays]"
            />
            <label for="Wednesday" class="form-create__label--inline"
              >Wednesday</label
            >
          </div>
          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              class="form-create__input--checkbox"
              id="Thursday"
              value="Thursday"
              name="bookstore[openDays]"
            />
            <label for="Thursday" class="form-create__label--inline"
              >Thursday</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              class="form-create__input--checkbox"
              id="Friday"
              value="Friday"
              name="bookstore[openDays]"
            />
            <label for="Friday" class="form-create__label--inline"
              >Friday</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              class="form-create__input--checkbox"
              id="Saturday"
              value="Saturday"
              name="bookstore[openDays]"
            />
            <label for="Saturday" class="form-create__label--inline"
              >Saturday</label
            >
          </div>

          <div class="form-create__input-wrapper--checkbox">
            <input
              type="checkbox"
              class="form-create__input--checkbox"
              id="Sunday"
              value="Sunday"
              name="bookstore[openDays]"
            />
            <label for="Sunday" class="form-create__label--inline"
              >Sunday</label
            >
          </div>
        </div>
      </fieldset>
    </div>

    <footer class="form-create__footer">
      <button type="submit" class="btn btn-submit">Submit</button>
    </footer>
  </form>
</div>
