<% layout("./layouts/boilerplate.ejs") %>
<div class="card-grid-container">
  <% for (let bookstore of bookstores) { %>
  <div class="card">
    <header class="card__header">
      <a class="card__link-container">
        <img src="<%= bookstore.images %>" alt="bookstore" class="card__img" />
      </a>
    </header>
    <div class="card__body">
      <h2 class="card__title"><%= bookstore.name %></h2>
      <p class="card__description"><%= bookstore.description %></p>
      <p class="card__author">Posted by John Wick</p>
    </div>
    <footer class="card__footer">
      <div class="btn-row-container">
        <a href="/bookstores/<%= bookstore._id %>" class="btn btn-show">Show</a>
        <a href="#" class="btn btn-edit">Edit</a>
        <a href="#" class="btn btn-delete">Delete</a>
      </div>
    </footer>
  </div>
  <%} %>
</div>
