@use '../abstracts/_variables.scss';
@use '../abstracts/_mixins.scss';

.site-body {
  @include mixins.displayFlex(column) {
    justify-content: center;
    align-items: center;
  }
  min-height: 100vh;

  .site-main {
    padding-top: variables.$site-main-padding-top;
    padding-bottom: variables.$site-main-padding-bottom;
    flex-grow: 1;
    width: variables.$site-main-width;
  }
}
